@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-building:before {
  content: "\e900";
}

._icon-buy:before {
  content: "\e901";
}

._icon-envelope:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-like:before {
  content: "\e904";
}

._icon-linkedin:before {
  content: "\e905";
}

._icon-logo:before {
  content: "\e906";
}

._icon-medal:before {
  content: "\e907";
}

._icon-play:before {
  content: "\e908";
}

._icon-progress:before {
  content: "\e909";
}

._icon-sale:before {
  content: "\e90a";
}

._icon-tablet:before {
  content: "\e90b";
}

._icon-twitter:before {
  content: "\e90c";
}

._icon-youtube:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #323232;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-flex;
  padding: 1.125rem 2.3125rem;
  border-radius: 1.8125rem;
  background-color: #f78434;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #ff710c;
  }
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}
.find-input {
  display: block;
  border-radius: 29px;
  background: #fff;
  box-shadow: 0px 17px 42px 0px rgba(0, 0, 0, 0.12);
  height: 60px;
  width: 100%;
  padding: 0px 10.625rem 0px 3.75rem;
}
@media (max-width: 29.99875em) {
  .find-input {
    padding: 0px 1rem 0px 3.75rem;
  }
}
.find-input::placeholder {
  color: #bbb;
}
._form-focus .find-input {
  outline: 1px solid #cdcdcd;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
}
.header._header-scroll {
  position: fixed;
  top: -100%;
  background-color: #dbdbdb;
}
.header._header-show {
  top: 0;
  transition: top 0.3s ease 0s;
}
.header__container {
  display: flex;
  align-items: center;
}
@media (min-width: 71.25em) {
  .header__container {
    min-height: 7.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .header__container {
    min-height: clamp( 4.375rem , 3.131097561rem  +  6.2195121951vw , 7.5625rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    min-height: 4.375rem;
  }
}
.header__logo {
  font-size: 1.4375rem;
  font-weight: 700;
  display: flex;
  position: relative;
  z-index: 2;
  gap: 0.5rem;
  flex: 1 1 auto;
  align-items: center;
}
.header__logo::before {
  font-size: 1.875rem;
  color: #58bebf;
}
.menu {
  display: grid;
}
.menu__body {
  justify-self: center;
}
.menu__body::before {
  transition: right 0.3s ease 0s;
  content: "";
  top: 0;
  right: -100%;
  position: fixed;
  width: 100%;
  background-color: #dbdbdb;
}
@media (min-width: 71.25em) {
  .menu__body::before {
    min-height: 7.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .menu__body::before {
    min-height: clamp( 4.375rem , 3.131097561rem  +  6.2195121951vw , 7.5625rem );
  }
}
@media (max-width: 20em) {
  .menu__body::before {
    min-height: 4.375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: right 0.3s ease 0s;
    background-color: #fff;
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 71.25em) {
  .menu__body {
    padding-top: 9.4375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 71.25em) {
  .menu__body {
    padding-top: clamp( 6.25rem , 5.006097561rem  +  6.2195121951vw , 9.4375rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__body {
    right: 0;
  }
  .menu-open .menu__body::before {
    right: 0;
  }
}
.menu__list {
  display: flex;
}
@media (min-width: 69.375em) {
  .menu__list {
    column-gap: 2.625rem;
  }
}
@media (min-width: 50em) and (max-width: 69.375em) {
  .menu__list {
    column-gap: clamp( 1.4375rem , -1.627016129rem  +  6.1290322581vw , 2.625rem );
  }
}
@media (max-width: 50em) {
  .menu__list {
    column-gap: 1.4375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.875rem;
  }
}
.menu__link {
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #f78434;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 2.1875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 35px;
    height: 23px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

[class*=__text] {
  line-height: 169%;
  letter-spacing: 0.071875em;
}

@media (min-width: 71.25em) {
  .page {
    padding-top: 7.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .page {
    padding-top: clamp( 4.375rem , 3.131097561rem  +  6.2195121951vw , 7.5625rem );
  }
}
@media (max-width: 20em) {
  .page {
    padding-top: 4.375rem;
  }
}

.find__container {
  display: grid;
  row-gap: 1.25rem;
}
@media (min-width: 47.99875em) {
  .find__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.find__column {
  align-self: center;
}
@media (min-width: 69.375em) {
  .find__column:last-child {
    height: 42.0625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 69.375em) {
  .find__column:last-child {
    height: clamp( 32.5rem , 11.0281306649rem  +  44.7342260687vw , 42.0625rem );
  }
}
.find__title {
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  line-height: 145%;
  letter-spacing: 0.0148148148em;
  z-index: 3;
}
@media (min-width: 71.25em) {
  .find__title {
    font-size: 3.375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .find__title {
    font-size: clamp( 1.875rem , 1.2896341463rem  +  2.9268292683vw , 3.375rem );
  }
}
@media (max-width: 20em) {
  .find__title {
    font-size: 1.875rem;
  }
}
.find__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (min-width: 47.99875em) {
  .find__title {
    width: 120%;
  }
}
.find__text {
  max-width: 29.375rem;
}
@media (min-width: 71.25em) {
  .find__text:not(:last-child) {
    margin-bottom: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .find__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.7134146341rem  +  2.6829268293vw , 2.625rem );
  }
}
@media (max-width: 20em) {
  .find__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.find__form {
  display: grid;
  row-gap: 1.25rem;
  max-width: 29.375rem;
  position: relative;
}
.find__input {
  position: relative;
}
.find__input::before {
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 1.6875rem;
  top: 50%;
  transform: translate(0px, -50%) rotate(0deg);
  font-size: 1.125rem;
  color: #bbb;
}
.find .find__input._form-focus::before {
  transform: translate(0px, -50%) rotate(-180deg);
}
.find__image-ibg {
  height: 100%;
  position: relative;
  padding-bottom: 79.8816568047%;
}
.find__image-ibg img {
  border-radius: 40px 40px 40px 0;
}
@media (min-width: 29.99875em) {
  .find__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 29.99875em) {
  .find__button {
    justify-self: center;
  }
}

.provide {
  position: relative;
}
@media (min-width: 61.99875em) {
  .provide::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 5;
  }
}
@media (min-width: 71.25em) {
  .provide {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .provide {
    padding-top: clamp( 1.25rem , -0.7012195122rem  +  9.756097561vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .provide {
    padding-top: 1.25rem;
  }
}
@media (min-width: 71.25em) {
  .provide {
    padding-bottom: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .provide {
    padding-bottom: clamp( 2.1875rem , -0.4954268293rem  +  13.4146341463vw , 9.0625rem );
  }
}
@media (max-width: 20em) {
  .provide {
    padding-bottom: 2.1875rem;
  }
}
.provide__container {
  display: grid;
}
@media (min-width: 71.25em) {
  .provide__container {
    row-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .provide__container {
    row-gap: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .provide__container {
    row-gap: 1.875rem;
  }
}
.provide__logos {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.875rem;
  z-index: 4;
  justify-content: center;
  align-items: center;
}
@media (min-width: 71.25em) {
  .provide__logos {
    column-gap: 5.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .provide__logos {
    column-gap: clamp( 1.875rem , 0.3140243902rem  +  7.8048780488vw , 5.875rem );
  }
}
@media (max-width: 20em) {
  .provide__logos {
    column-gap: 1.875rem;
  }
}
.body-provide {
  display: grid;
  row-gap: 1.875rem;
}
@media (min-width: 61.99875em) {
  .body-provide {
    grid-template-columns: repeat(2, 1fr);
  }
}
.body-provide__slider.swiper {
  overflow: visible;
}
.body-provide__slide-ibg {
  flex: 0 0 24.0625rem;
  height: 550px;
}
.body-provide__slide-ibg img {
  border-radius: 20px 20px 0px 20px;
  width: 100%;
}
@media (max-width: 29.99875em) {
  .body-provide__slide-ibg {
    height: 400px;
    flex: 0 0 250px;
  }
}
.body-provide__content {
  align-self: center;
}
@media (min-width: 61.99875em) {
  .body-provide__content {
    max-width: 23.4375rem;
    justify-self: end;
  }
}

.content-body {
  position: relative;
  z-index: 5;
}
.content-body__title {
  font-weight: 700;
  line-height: 147%;
  letter-spacing: 0.0273809524em;
}
@media (min-width: 71.25em) {
  .content-body__title {
    font-size: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .content-body__title {
    font-size: clamp( 1.875rem , 1.5823170732rem  +  1.4634146341vw , 2.625rem );
  }
}
@media (max-width: 20em) {
  .content-body__title {
    font-size: 1.875rem;
  }
}
.content-body__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.content-body__text {
  display: grid;
  row-gap: 1.25rem;
}
@media (min-width: 71.25em) {
  .content-body__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .content-body__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .content-body__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
